$secondary-color: #330F0A;
$primary-color: #394F49;
$background-color: #FFF8E8;
$tertiary-color: #FCD581;
$quaternary-color: #D52941;
$body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$title-font: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia','serif';
$mobile-length: 800px;
$content-border-radius: 30%;
$image-border-radius: 15%;